body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
h2{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;

}
h3{
    font-family: 'Oswald', sans-serif;
}
p{
    color:#696969;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8;
}
section{
    padding-bottom: 150px;
    height: 500px;
}
.orange_highlighted{
    color:chocolate;
}
.first_section{
    padding-top: 80px;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* height: 500px; */
}

.bottom_banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 

}

.link_button{
    text-decoration: none;
    /* background-image: linear-gradient(45deg, #F78B6A, #FB6655); */
    border: 3px solid #F78B6A;
    padding: 10px 20px;
    border-radius: 3px;
    color: #F78B6A;
    font-weight: 600;
}
.link_button:hover{
    /* background-image: linear-gradient(#f07651, #f14430); */
    background-color: #F78B6A;
    color: #fff;
}

.experience_area{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

.single_experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    padding: 0 30px;
    background-color: #fff;
}
#full_stack{
    border-left: 7px solid;
    border-image: linear-gradient( #FF9A75, #FF684B);
    border-image-slice: 1;
}
#baby_web{
    border-left: 7px solid;
    border-image: linear-gradient(#0012FF, #00E2FF);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: 16px;
}
@media only screen and (max-width: 800px) {
    .half_width{
        width: 90%;
        margin-left: 5%;
        padding-left: 2%;
        margin-bottom: 20px;
    }
  }